<ul class="topMenu">
  <li (click)="innerPage('whatsOn')">
    <img src="assets/imgs/calenderIcon.png" alt="Icon">
    {{"What's On" | translate}}
  </li>
  <li (click)="innerPage('restCafe')">
    <img src="assets/imgs/calenderIcon.png" alt="Icon">
    {{'Restaurants & Cafes' | translate}}
  </li>
  <li (click)="innerPage('communities')">
    <img src="assets/imgs/calenderIcon.png" alt="Icon">
    {{'Communities' | translate}}
  </li>
  <li (click)="innerPage('getAround')">
    <img src="assets/imgs/calenderIcon.png" alt="Icon">
    {{'Getting Around' | translate}}
  </li>
  <li (click)="innerPage('carFind')">
    <img src="assets/imgs/calenderIcon.png" alt="Icon">
    {{'Car Finder' | translate}}
  </li>
  <li (click)="innerPage('nearBy')">
    <img src="assets/imgs/calenderIcon.png" alt="Icon">
    {{'Near By' | translate}}
  </li>
  <li (click)="innerPage('beach')">
    <img src="assets/imgs/calenderIcon.png" alt="Icon">
    {{'Beach' | translate}}
  </li>
  <li (click)="innerPage('visitKatara')">
    <img src="assets/imgs/calenderIcon.png" alt="Icon">
    {{'Visiting Katara' | translate}}
  </li>
</ul>