page-news-details {
    ion-content{
        top: 56px;
        height: calc( 100% - 56px );
    }
    .newsDetailComponent{
        ion-card{
            width: 100%;
            margin: 0px auto;
            box-shadow: none;
        }
        .initialItemCard{
            ion-card-header{
                white-space: normal;
                font-size: 22px;
            }
            ion-card-content{
                .imageDiv{
                    height: 100px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                    img{
                        object-fit: cover;
                    }
                }
            }
        }
        .relatedCard{
            h3{
                font-size: 18px;
                font-weight: 600;
            }
            p{
                font-size: 14px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical; 
            }
            ion-thumbnail{
                width: 120px;
                img{
                    width: 100%;
                }
            }
            ion-item{
                padding-left: 0px;
                align-items: flex-start;
                .item-inner{
                    ion-label{
                        margin-top: 4px;
                        white-space: normal;
                        h3{
                            font-size: 14px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical; 
                            color: #c37600;
                            font-weight: 600;
                        }
                        h5{
                            font-size: 11px;
                            color: #989696;
                            margin-top: 5px;
                            font-weight: 600;
                        }
                    }
                }
            }

        }
    }
    @media screen 
    and (min-device-width : 414px) 
    and (min-device-height :   896px) 
    and (-webkit-device-pixel-ratio : 2) { // Iphone XR
        ion-content{
            top: 80px;
            height: calc( 100% - 80px );
        }
    }
    @media screen 
    and (min-device-width : 375px) 
    and (min-device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { // Iphone XS, X
        ion-content{
            top: 80px;
            height: calc( 100% - 80px );
        }   
    }
    @media screen 
    and (min-device-width : 414px) 
    and (min-device-height :   896px) 
    and (-webkit-device-pixel-ratio : 3) { // Iphone XS Max
        ion-content{
            top: 80px;
            height: calc( 100% - 80px );
        }
    }
}
