common-header {
    ion-header{
        &::after{
            height: 0px !important;
        }
        ion-navbar.toolbar-ios{
            padding-top: 20px;
        }
    }
    ion-buttons{
        button{
            ion-icon{
                color: #333;
            }
        }
    }
    
    ion-title{
        .toolbar-title{
            font-size: 14px;
            font-weight: normal;
        }
    }
    @media screen 
        and (min-device-width : 414px) 
        and (min-device-height :   896px) 
        and (-webkit-device-pixel-ratio : 2) { // Iphone XR
            ion-header{
                ion-navbar.toolbar-ios{
                    padding-top: 40px;
                    height: 80px;
                }
            }
        }
        @media screen 
        and (min-device-width : 375px) 
        and (min-device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { // Iphone XS, X
            ion-header{
                ion-navbar.toolbar-ios{
                    padding-top: 40px;
                    height: 80px;
                }
            }
        }
        @media screen 
        and (min-device-width : 414px) 
        and (min-device-height :   896px) 
        and (-webkit-device-pixel-ratio : 3) { // Iphone XS Max
            ion-header{
                ion-navbar.toolbar-ios{
                    padding-top: 40px;
                    height: 80px;
                }
            }
        }
}
